@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
-webkit-tap-highlight-color:transparent;
}

body{
background:linear-gradient(135deg,#ffdce9,#fff5f8);
overflow:hidden;
height:100vh;
}

.page{
position:fixed;
inset:0;
display:none;
justify-content:center;
align-items:center;
padding:25px;
}

.page.active{
display:flex;
animation:fade .5s ease;
}

.card{

width:100%;
max-width:390px;

padding:35px;

background:rgba(255,255,255,.38);

backdrop-filter:blur(18px);

border-radius:30px;

border:1px solid rgba(255,255,255,.45);

text-align:center;

box-shadow:0 15px 45px rgba(255,105,180,.18);

}

.emoji{

font-size:65px;

animation:beat 1.5s infinite;

}

h1,h2{

color:#ff4f91;

margin-top:15px;

}

p{

margin-top:18px;

line-height:1.8;

color:#666;

}

button{

margin-top:28px;

width:100%;

padding:16px;

border:none;

border-radius:50px;

background:linear-gradient(90deg,#ff6ea8,#ff9fc6);

color:white;

font-size:17px;

font-weight:600;

}

button:active{

transform:scale(.97);

}

input{

width:100%;

padding:16px;

margin-top:20px;

border:none;

border-radius:18px;

font-size:17px;

outline:none;

}

.loadingBar{

margin-top:25px;

height:12px;

background:#ffe2ef;

border-radius:30px;

overflow:hidden;

}

#loadingFill{

height:100%;

width:0%;

background:linear-gradient(90deg,#ff6ea8,#ff9fc6);

}

.phone{

text-align:center;

}

#clock{

font-size:74px;

font-weight:700;

color:white;

text-shadow:0 5px 18px rgba(0,0,0,.15);

}

#today{

margin-top:8px;

font-size:20px;

color:white;

}

.heart{

font-size:72px;

margin-top:50px;

animation:beat 1.5s infinite;

}

.phone p{

color:white;

margin-top:18px;

}

#hint{

margin-top:15px;

color:#ff4f91;

font-weight:600;

min-height:24px;

}

@keyframes beat{

0%,100%{

transform:scale(1);

}

50%{

transform:scale(1.1);

}

}

@keyframes fade{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

transform:translateY(0);

}

}
/*=========================================

NOTIFICATION

=========================================*/

.notificationCard{

animation:pop .6s;

}

@keyframes pop{

0%{

transform:scale(.7);

opacity:0;

}

100%{

transform:scale(1);

opacity:1;

}

}